html {
	min-height: 100%;
}
body {
	min-height: 100%;
	background-image: radial-gradient(#FFF, #BBB);
	background-color: rgb(200,200,200);
}
header {
	text-align: center;
	display: block;
	width: 100%;
	
	border-bottom: solid 1px #BBB;
}
header div {
	float: none;
	width: 100%;
	clear: both;
}
h1 {
	font-size: 4em;
	color: #000;
	
	font-family: serif;
	
	width: 960px;
	margin: 40px auto 20px;
}
h2 {
	text-align: center;
	
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	color: #A00;
	
	font-variant: small-caps;
	
	width: 960px;
	margin: 0 auto;
}
h3 {
	font-family: "Georgia";
	
	border-bottom: solid 1px #BBB;
}
#wrapper {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	width: 0px;
	min-width: 1080px;
	margin: 80px auto 0;
}
.content {
	text-align: left;
	max-width: 450px;
}
#leftcolumn {
	right: 50%;
}
#rightcolumn {
	left: 50%;
}
.content div {
	min-height: 300px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul span {
	position: relative;
}
ul span:before {
	content: '+ ';
	font-weight: bold;
	position: absolute;
	right: 100%;
	margin-right: 5px;
}
td {
	padding-left: 15px;
}
td, th {
	vertical-align: top;
}
.tool_tip {
	position: relative;
	border-bottom: 1px dotted;
}
.tool_tip:before {
	position: absolute;
	bottom: 100%;
	margin-left: -107px;
	left: 50%;
	margin-bottom: 6px;
	display: block;
	width: 214px;
	height: 320px;
	background-image: url("IMG_5792.jpeg");
	background-size: 100%;
	border: solid #644 5px;
	border-radius: 5px;
	content: '';
	
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	
	opacity: 0;
	visibility: hidden;
	
	transition: all 300ms linear;
}
.tool_tip:hover {
	text-decoration: none;
}
.tool_tip:hover:before, .tool_tip:hover:after {
	opacity: 1;
	visibility: visible;
}
.tool_tip:after {
	content: '';
	position: absolute;
	bottom: 100%;
	margin-bottom: -6px;
	border: 6px solid #000;
	border-color: #644 transparent transparent transparent;
	left: 50%;
	margin-left: -5px;
	
	transition: all 300ms linear;
	opacity: 0;
	visibility: hidden;
}
#contact {
	background-color: #FFFFFF;
}
footer {
	text-align: center;
}
.nietzichtbaar {
	display: none;
}
.belangrijk {
	font-weight: bold;
}
